.input {
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  padding-top: 100px;
}

.form-control {
  background-color: rgb(213, 248, 217);
  padding: 10px 10px;
  font-weight: bold;
}
.head {
  background-color: rgb(192, 189, 189);
}


